.form-list.changepass-form-list {
  padding: 1rem;
}

.changepass-form-fieldset {
  padding: 0;
  border: none;
}

.changepass-footer {
  padding: 1rem;
}

.changepass-spacer {
  margin: 1rem 0;
}

.changepass-loading {
  text-align: center;
}