.image-slider-slide {
  overflow: hidden;
  position: relative;
}

.image-slider-slide-16by9 {
  padding-top: 56.25%
}

.image-slider-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--ion-color-light-tint);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 0 10px 4px;
}

.swiper-pagination-bullet {
  background-color: black;
}