
.studio-list-loading {
  text-align: center;
}

.studio-list-spacer {
  margin: 1rem 0;
}

.studio-list-title-header-item {
  float: right;
  margin-left: 1rem;
}

.studio-list-items {
  padding: 0;
}

.studio-list-item-container {
  margin-top: 1rem;
  padding: .5rem;
  border: 1px solid var(--ion-color-light);
}