
.studio-list-loading {
  text-align: center;
}

.studio-list-spacer {
  margin-top: 1rem;
}

.studio-list-header {
  display: flex;
  justify-content: space-between;
}

.studio-list-header-toolbar {
  margin: 0 0 0 1rem;
  display: flex;
  justify-content: flex-end;
}

.studio-list-header-toolbar-select {
  font-size: 1rem;
  padding: .425rem 0 .5rem;
  margin-left: 1rem;
}

.studio-list-header-toolbar-buttons {
  margin-left: .5rem;
}

@media only screen and (min-width: 820px) {
  .studio-list-modal {
    --min-width: 800px;
  }
}