.forgotpass-form-list {
  padding: 1rem;
}

.forgotpass-form-fieldset {
  padding: 0;
  border: none;
}

.forgotpass-footer {
  padding: 1rem;
}

.forgotpass-spacer {
  margin: 1rem 0;
}

.forgotpass-loading {
  text-align: center;
}