.space-service-form-fieldset {
  padding: .5rem;
  border: 1px solid var(--ion-color-light-shade);
  max-height: 250px;
  overflow-y: auto;
}

.space-service-form-toolbar {
  --min-height: 25px;
}

.space-service-form-title {
  padding: 0 0 0 .5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
}

.space-service-form-loading {
  text-align: center;
}

.space-service-form-notification {
  margin-left: 1rem;
  margin-right: 1rem;
}

.space-service-form-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}