
.booking-calendar-loading {
  text-align: center;
}

.booking-calendar-spacer {
  margin-top: 1rem;
}

.booking-calendar-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
}

.booking-calendar-service {
  display: flex;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.booking-calendar-items {
  padding: 0;
}

.booking-calendar-item-container {
  padding: .5rem;
  border: 1px solid var(--ion-color-light-shade);
}

.booking-calendar-item-title {
  padding: 0 0 .5rem 0;
  font-size: 1rem;
}

.booking-calendar-item-toolbar {
  margin-left: .5rem;
}

.booking-calendar-container {
  overflow: auto;
}

/* table */
.booking-calendar {
  width: 100%;
  min-width: calc(7rem * 8);
  table-layout: fixed;
  border-collapse: collapse;
}

/* all table cells */
.booking-calendar tr > td {
  width: 12.5%;
  min-width: 7rem;
  padding: .25rem;
  text-align: center;
}

/* table header row */
.booking-calendar > thead tr {
  display: block;
}

/* table header cells */
.booking-calendar > thead > tr > td {
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--ion-color-light-shade);
}

.booking-calendar > thead > tr > td.booking-calendar-item-header-active {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}

/* table body */
.booking-calendar > tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 80vh;
}

/* table body cells */
.booking-calendar > tbody > tr > td {
  border-bottom: 1px solid var(--ion-color-light);
}

/* table body - first cell */
.booking-calendar > tbody > tr > td:first-child {
  background-color: var(--ion-color-light-shade);
  border-bottom-color: var(--ion-color-light-shade);
}

/* every other table body row */
.booking-calendar > tbody > tr:nth-child(even) > td {
  border-bottom: 1px solid var(--ion-color-light-shade);
}
.booking-calendar > tbody > tr:nth-child(even) > td:first-child {
  border-bottom-color: var(--ion-color-light);
}

/* unavailable items */
.booking-calendar > tbody > tr > td.booking-calendar-item-unavailable {
  background-color: var(--ion-color-light-shade);
}

/* all table cells - text */
.booking-calendar tr > td,
.booking-calendar tr > td p {
  font-size: .75rem;
  line-height: 1.25;
}

.booking-calendar-item-detail {
  font-weight: normal;
}

@media only screen and (min-width: 820px) {
  .booking-calendar-modal {
    --min-width: 800px;
  }
}