.app-notification {
  margin: 1rem;
}

.app-loading-container {
  text-align: center;
}

.app-loading {
  margin: 1rem 0;
}

.page-title {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

/* ion fixes */

/* prevent blocked button from hiding text */
ion-button.button-block {
  white-space: normal;
}

/* align ion-row with ion-grid and ion-col */
ion-grid {
  padding-left: 10px;
  padding-right: 10px;
}
ion-grid ion-row {
  margin-left: -5px;
  margin-right: -5px;
}
ion-grid ion-row ion-col ion-card {
  margin-inline: 0;
}