.app-notification {
  margin: 1rem;
}

.app-loading-container {
  text-align: center;
}

.app-loading {
  margin: 1rem 0;
}

/* ion fixes */

/* prevent blocked button from hiding text */
ion-button.button-block {
  white-space: normal;
}