.app-notification {
  margin: 1rem;
}

.app-loading-container {
  text-align: center;
}

.app-loading {
  margin: 1rem 0;
}

.page-title {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

/* ion fixes */

/* prevent blocked button from hiding text */
ion-button.button-block {
  white-space: normal;
}

/* align ion-row with ion-grid and ion-col */
ion-grid {
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
ion-grid ion-grid {
  padding-left: 0;
  padding-right: 0;
}
ion-grid ion-row {
  margin-left: calc(-1 * var(--grid-spacing));
  margin-right: calc(-1 * var(--grid-spacing));
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
ion-grid ion-row ion-col{
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
}
ion-grid ion-row ion-col ion-card {
  margin-inline: 0;
}