.booking-bar {
  width: 100%;
  height: var(--booking-bar-height);
}

.booking-bar-container {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--booking-bar-height);
  background-color: rgba(0, 0, 0, 0.65);
  color: var(--ion-color-light);
  padding: .5rem 1rem;
}

.booking-bar-label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
}

.booking-bar-total {
  font-size: 2.5rem;
  padding: .7rem 0;
  background-color: #fff;
  color: var(--ion-color-primary);
  text-align: center;
}

.booking-bar-list {
  height: 120px;
  overflow-y: auto;
  padding: 0;
}

.booking-bar-notification,
.booking-bar-loading {
  margin: .5rem;
}

@media only screen and (min-width: 820px) {
  .booking-bar-modal {
    --min-width: 800px;
  }
}

.booking-bar-modal-list {
  border: 1px solid var(--ion-color-medium);
  padding: 0;
}

.booking-bar-modal-grid {
  padding: 0 1.25rem;
}

.booking-bar-modal-spacer {
  margin-bottom: 2rem;
}