.booking-bar {
  width: 100%;
  height: 165px;
}

.booking-bar-container {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 185px;
  background-color: rgba(0, 0, 0, 0.65);
  color: var(--ion-color-light);
  padding: .5rem 1rem;
}

.booking-bar-label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
}

.booking-bar-total {
  font-size: 2.5rem;
  padding: .7rem 0;
  background-color: #fff;
  color: var(--ion-color-primary);
  text-align: center;
}

.booking-bar-list {
  height: 120px;
  overflow-y: auto;
  padding: 0;
}

.booking-bar-notification,
.booking-bar-loading {
  margin: .5rem;
}