.studio-page-loading {
  text-align: center;
}

.studio-page-spacer {
  margin-top: 1rem;
}

.studio-page-label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
}

.studio-page-spaces-list {
  height: 660px;
  max-height: 80vh;
  overflow-y: auto;
  padding: .25rem;
}

.studio-page-space:hover,
.studio-page-space-selected {
  box-shadow: rgba(var(--ion-color-primary-rgb), 0.5) 0px 3px 1px -2px, rgba(var(--ion-color-primary-rgb), 0.54) 0px 2px 2px 0px, rgba(var(--ion-color-primary-rgb), 0.52) 0px 1px 5px 0px;
}

.studio-page-space-photo {
  height: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--ion-color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.studio-page-text {
  font-size: .875rem;
}