
.space-list-loading {
  text-align: center;
}

.space-list-spacer {
  margin-top: 1rem;
}

.space-list-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 0 .5rem;
}

.space-list-items {
  padding: 0;
}

.space-list-item-toolbar {
  margin-left: .5rem;
}