
.space-list-loading {
  text-align: center;
}

.space-list-spacer {
  margin-top: 1rem;
}

.space-list-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 0 .5rem;
}

.space-list-item-title {
  font-weight: 500;
  color: var(--ion-color-primary);
  text-transform: uppercase;
  padding: 1rem .5rem;
  display: block;
  border-bottom: 2px solid var(--ion-color-primary);
  text-align: center;
  letter-spacing: .1rem;
}

.space-list-items {
  padding: 0;
}

.space-list-item-toolbar {
  margin-left: .5rem;
}

@media only screen and (min-width: 820px) {
  .space-list-modal {
    --min-width: 800px;
  }
}