.image-input {
  margin: 1rem 0;
}

.image-input-preview {
  width: 100%;
  height: 10rem;
  background-color: var(--ion-color-light-tint);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}