.login-form-list {
  padding: 1rem;
}

.login-form-fieldset {
  padding: 0;
  border: none;
}

.login-footer {
  padding: 1rem;
}

.login-spacer {
  margin: 1rem 0;
}

.login-loading {
  text-align: center;
}